---
import Layout from "@templates/Layout.astro";
---

<Layout page="accessibility">
  <main class="mx-auto max-w-screen-sm p-4">
    <h1 id="main-content" tabindex="-1" class="mb-8 mt-4 text-center">
      Accessibility Statement
    </h1>

    <h2 class="mb-8">WCAG Conformance</h2>

    <p class="mb-8">
      Hunnybee strives to meet level AA conformance with the <a
        href="https://www.w3.org/TR/WCAG21/"
        >Web Content Accessibility Guidelines</a
      > (WCAG) 2.1. To achieve this conformance level, <a
        href="https://easysurf.ca">Easy Surf</a
      > audited our website and fixed accessibility issues. We plan to maintain
      this level of conformance on all future website updates.
    </p>

    <h2 class="mb-8">Auditing</h2>

    <p class="mb-8">
      Easy Surf’s Accessibility Specialist audited our website using AxeDevTools
      Pro as her main tool. For the remaining success criteria not included in
      the automated and semi-automated tests, she manually audited according to
      level AA of the WCAG 2.1 guidelines.
    </p>

    <h2 class="mb-8">Testing</h2>

    <p class="mb-8">
      Easy Surf’s Accessibility Specialist ran quality assurance tests with
      VoiceOver, Voice Control, and her keyboard. Easy Surf’s community of
      Accessibility Testers also ran usability tests from their unique
      perspectives and wide breadth of assistive technologies.
    </p>

    <h3 class="mb-8">Perspectives</h3>

    <ul class="mb-8 list-inside list-disc pl-4">
      <li>Blind</li>
      <li>Low vision</li>
      <li>Mobility disability</li>
      <li>Cognitive disability</li>
    </ul>

    <h3 class="mb-8">Assistive Technologies</h3>

    <ul class="mb-8 list-inside list-disc pl-4">
      <li>Screen readers</li>
      <li>Magnification</li>
      <li>Alternative navigation</li>
      <li>Display settings</li>
    </ul>

    <h2 class="mb-8">Help us be better</h2>

    <p class="mb-8">
      We believe there’s always room for improvements. Please get in touch with
      us if you have a suggestion or run into an issue at <a
        href="hey@hunnybee.ca">hey@hunnybee.ca</a
      >.
    </p>
  </main>
</Layout>
