<p
  class="mb-8 mt-4 font-heading text-sm font-bold uppercase tracking-widest text-greenGrass md:text-base"
  id="header-businessInfo"
  transition:persist>
  <span id="header-hours">8AM to 4PM Daily</span>
  <span aria-hidden="true" class="mx-1">✿</span>
  <span id="header-address">789 Gore Avenue</span>
</p>
