---
import EmailIcon from "@atoms/EmailIcon.astro";
import InstagramIcon from "@atoms/InstagramIcon.astro";
---

<div class="flex flex-row items-center justify-center space-x-6">
  <EmailIcon />
  <InstagramIcon />
</div>
